:root{
    --border: 1px solid black;
    --template-column: repeat(2, 86px) repeat(2, 103px) repeat(2, 135px);
}


html{
    font-family: calibri, monospace;
    background-color: rgb(68, 146, 209);
}
/*---------form------------*/

div.form{
    background-color: rgb(68, 146, 209);
    width: clamp(340px, 50vw, 700px);
    height: clamp(400px, 100vh, 650px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    font-size: 1rem;
    margin: auto;
}

form#data-chicken{
    background-color: rgba(0, 0, 0, 0.247);
    color:white;
    width: calc(100vw * (9/16));;
    height: 550px;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}

form > ul{
    margin: auto;
    display: flex;
    flex-direction: column;
}

li > ul > li{
    display: flex;
    list-style: none;
    align-items: center;
    margin: 10px;
}

li{
    margin: 10px 20px 10px 40px;
}

label{
    margin-left: 10px;
}

li > div{
    display: flex;
    align-items: center;
}

p{
    margin-left: 10px;
}

input[type='date'],
input[type='time']{
    width: fit-content;
    height: 30px;
    padding-left: 5px;
    border-radius: 10px;
    box-shadow: none;
    border: none;
}

input[type='number']{
    width: 50px;
    height: 30px;
    padding-left: 5px;
    border-radius: 10px;
    box-shadow: none;
    border: none;
}

input#custom{
    margin-left: 5px;
}

input[type='checkbox']{
    width: 1.3rem;
    height: 1.3rem;
    color: black;
    margin: 10px;
    border-radius: 50%;
}

textarea#observacionForm{
    display: block;
    text-align: start;
    resize: none;
    width: calc(80vw * (9/16));
    height: 100px;
    margin: 0 10px 10px calc(1vw * (9/16));
    border-radius: 10px;
}

button{
    font-weight: bold;
    width: 160px;
    height: 40px;
    margin: auto;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.347);
}

button:active{
    transform: translateY(2px);
}

button:hover{
    cursor:pointer;
    background-color: rgba(0, 0, 0, 0.247);
}

h2{
    margin: auto auto 5px auto;
}

/*---------form------------*/

/*--------registry--------*/
div.reg{
    display: none;
    grid-template-columns: var(--template-column);
    grid-template-rows: repeat(48, 20px);
    background-color: white;
    width: fit-content;
    height: fit-content;
    margin: auto;
    border: 43px solid white;
}

/*Header*/
div.header{
    grid-area: 1 / 1 / 5 / 7;
    display: grid;
    grid-template-columns: var(--template-column);
    grid-template-rows: repeat(4, 20px);
    font-size: 12px;
    font-weight: bold;
}

div.header > div.part1{
    grid-area: 1 / 1 / 5 / 3;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    border: var(--border);
}

div.header > div.part2{
    grid-area: 1 / 3 / 4 / 6;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 3px;
    border-top: var(--border);
    border-bottom: var(--border);
}

div.header > div.part3{
    grid-area: 4 / 3 / 5 / 6;
    text-align: center;
    padding-top: 4px;
    border-bottom: var(--border);
}

div.header > div.part4{
    grid-area: 1 / 6 / 5 / 7;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 4px;
    padding-left: 6px;
    border: var(--border);
}

div > img#logoenercopimg{
    width: 2.15cm;
    height: 1.2cm;
}

div > img#logouaa{
    margin-top: 3px;
}

/*Header*/

div.dateTime{
    grid-area: 5 / 1 / 10 / 7;
    font-size: 14px;
    font-weight: bold;
    display: grid;
    grid-template-columns: var(--template-column);
    grid-template-rows: repeat(5, 20px);
}

div.dateTime > div.date{
    grid-area: 2 / 1 / 3 / 3;
    padding-left: 5px;
}

div.dateTime > div.timeS{
    grid-area: 2 / 5 / 3 / 7;
}

div.dateTime > div.timeF{
    grid-area: 3 / 5 / 4 / 7;
}

/*--------Table--------*/
table{
    grid-area: 9 / 1 / 35 / 7;
    border: var(--border);
    font-size: 15px;
    border-collapse: collapse;
}

td, th{
    border: var(--border);
    text-align: center;
}
/*--------Table--------*/

div.pro-hidra{
    grid-area: 36 / 3 / 38 / 6;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    justify-content: center;
}

div.pro-hidra > div.pro-text{
    border: var(--border);
    padding-bottom: 4px;
    font-size: 15px;
}

div.pro-hidra > div.pro-result{
    padding: 8px;
    margin-right: 15px;
    font-size: 16px;
    border-top: var(--border);
    border-right: var(--border);
    border-bottom: var(--border);
}

div.pro-hidra > div.pro-text,
div.pro-hidra > div.pro-result{
    width: 103px;
    text-align: center;
}

div.text-area{
    grid-area: 39 / 1 / 43 / 7;
}

div.text-area > textarea#medidasCorrectivas{
    resize: none;
    width: 642px;
    height: 95px;
    border: var(--border);
    font-size: 15px;
}

div.signature{
    grid-area: 47 / 1 / 48 / 7;
    display: flex;
    flex-direction: row;
    gap: 160px;
    font-size: 15px;
}

div.signature > div.monitor{
    padding-left: 5px;
}



@media print {

     div.reg{
      height:100%; 
      margin: 40px 35px !important; 
      padding: 0 !important;
      border: 0 !important; 
      overflow: hidden;
    }

    div.form{
        display: none !important;
    }
  
}

/*--------registry--------*/