:root{
    --border: 1px solid black;
    --template-column: repeat(2, 86px) repeat(2, 103px) repeat(2, 135px);
}


html{
    font-family: calibri, monospace;
    background-color: gray;
}

div.reg{
    display: grid;
    grid-template-columns: var(--template-column);
    grid-template-rows: repeat(48, 20px);
    background-color: white;
    width: fit-content;
    height: fit-content;
    margin: auto;
    border: 43px solid white;
}

/*Header*/
div.header{
    grid-area: 1 / 1 / 5 / 7;
    display: grid;
    grid-template-columns: var(--template-column);
    grid-template-rows: repeat(4, 20px);
    font-size: 12px;
    font-weight: bold;
}

div.header > div.part1{
    grid-area: 1 / 1 / 5 / 3;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    border: var(--border);
}

div.header > div.part2{
    grid-area: 1 / 3 / 4 / 6;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 3px;
    border-top: var(--border);
    border-bottom: var(--border);
}

div.header > div.part3{
    grid-area: 4 / 3 / 5 / 6;
    text-align: center;
    padding-top: 4px;
    border-bottom: var(--border);
}

div.header > div.part4{
    grid-area: 1 / 6 / 5 / 7;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 4px;
    padding-left: 6px;
    border: var(--border);
}

div > img#logoenercopimg{
    width: 2.15cm;
    height: 1.2cm;
}

div > img#logouaa{
    margin-top: 3px;
}

/*Header*/

div.dateTime{
    grid-area: 5 / 1 / 10 / 7;
    font-size: 15px;
    font-weight: bold;
    display: grid;
    grid-template-columns: var(--template-column);
    grid-template-rows: repeat(5, 20px);
}

div.dateTime > div.date{
    grid-area: 2 / 1 / 3 / 3;
    padding-left: 5px;
}

div.dateTime > div.timeS{
    grid-area: 2 / 5 / 3 / 7;
}

div.dateTime > div.timeF{
    grid-area: 3 / 5 / 4 / 7;
}

table{
    grid-area: 9 / 1 / 35 / 7;
    border: var(--border);
    font-size: 14px;
    border-collapse: collapse;
}

td, th{
    border: var(--border);
    text-align: center;
}

div.pro-hidra{
    grid-area: 36 / 3 / 38 / 6;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    justify-content: center;
}

div.pro-hidra > div.pro-text{
    border: var(--border);
    padding-bottom: 4px;
    font-size: 16px;
}

div.pro-hidra > div.pro-result{
    padding: 8px;
    font-size: 18px;
    border-top: var(--border);
    border-right: var(--border);
    border-bottom: var(--border);
}

div.pro-hidra > div.pro-text,
div.pro-hidra > div.pro-result{
    width: 103px;
    text-align: center;
}

div.text-area{
    grid-area: 39 / 1 / 43 / 7;
}

div.text-area > textarea#medidasCorrectivas{
    resize: none;
    width: 642px;
    height: 95px;
    font-weight: bold;
    border: var(--border);
}

div.signature{
    grid-area: 47 / 1 / 48 / 7;
    display: flex;
    flex-direction: row;
    gap: 160px;
}

div.signature > div.monitor{
    padding-left: 5px;
}



@media print {

     div.reg{
      height:100%; 
      margin: 40px 35px !important; 
      padding: 0 !important;
      border: 0 !important; 
      overflow: hidden;
    }
  
  }